body {
    margin: 0;
}

main {
    margin: 16px;
}

.__navbar {
    display: flex;
    align-items: center;
    /* position: fixed; */           /* TODO navbar-simple fixed */

    background: darkred;
    color: white;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
}

.__navbar__title {
    margin-right: auto;
    font-size: 150%;
    padding: 12px 16px;
}

.__navbar__item {
    padding: 16px 16px;
    cursor: pointer;
    vertical-align: middle;
}